#area,#submit{
		display: block;
	}

	#area{
		margin-left: 45%;
	}

	#submit{
		margin-left: 47.5%;
	}

	#video {
		margin-left: 32%;
	}
	
	#list{
		margin-left: 15%;
	}

  .thumb {

	height: 70px;

	border-radius: 4px;

}

.details {

	padding: 8px 22px;

}
